.albums-container {
  zoom: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}
.albums-container:before, .albums-container:after {
  content: "";
  display: table;
}
.albums-container:after {
  clear: both;
}
.albums-container .filter-clear {
  zoom: 1;
}
.albums-container .filter-clear:before, .albums-container .filter-clear:after {
  content: "";
  display: table;
}
.albums-container .filter-clear:after {
  clear: both;
}
.albums-container .no-album {
  text-align: center;
}

#albums-filter-container {
  width: 100%;
  padding: 0 5px 0;
  height: auto;
  position: relative;
}

#albums-filter {
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 16px;
  margin-left: 15px;
}
#albums-filter li {
  list-style-type: none !important;
  display: inline;
}
#albums-filter li a {
  text-shadow: none;
  text-decoration: none;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline;
  padding: 4px 8px;
  margin-right: 20px;
}
#albums-filter li a:hover {
  opacity: 1 !important;
}
#albums-filter li a.active {
  color: white !important;
  background: #404040;
}

.albums, .shortcode-gallery-grid {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 30px;
  width: 100%;
  line-height: 1.7;
  zoom: 1;
}
.albums:before, .albums:after, .shortcode-gallery-grid:before, .shortcode-gallery-grid:after {
  content: "";
  display: table;
}
.albums:after, .shortcode-gallery-grid:after {
  clear: both;
}
.albums .album-item-container, .shortcode-gallery-grid .album-item-container {
  position: relative;
  margin: 0;
  width: 100%;
  height: auto;
  display: block;
  padding: 0 !important;
  margin-top: 15px;
  margin-bottom: 15px !important;
  border-bottom: none !important;
}
.albums .album-item-container:after, .shortcode-gallery-grid .album-item-container:after {
  display: none;
}
.albums span.album-item, .shortcode-gallery-grid span.album-item {
  overflow: hidden;
  display: block;
  background: #333;
  width: 90%;
  height: 95%;
  margin-left: 5%;
  position: relative;
}
.albums .albums .entry-link, .albums #shortcode-gallery-grid .entry-link, .shortcode-gallery-grid .albums .entry-link, .shortcode-gallery-grid #shortcode-gallery-grid .entry-link {
  display: block;
  text-shadow: none !important;
  text-align: left;
  color: #333333 !important;
}
.albums span.album-thumb, .shortcode-gallery-grid span.album-thumb {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}
.albums span.album-thumb img, .albums span.album-thumb p, .shortcode-gallery-grid span.album-thumb img, .shortcode-gallery-grid span.album-thumb p {
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
.albums span.album-thumb h5, .shortcode-gallery-grid span.album-thumb h5 {
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 5px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  color: white !important;
}
.albums span.album-thumb img, .shortcode-gallery-grid span.album-thumb img {
  width: 100%;
  height: auto;
  top: 0;
  margin: 0 auto;
  margin-bottom: 0;
  vertical-align: bottom;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  padding: 0;
}
.albums span.album-thumb h5, .shortcode-gallery-grid span.album-thumb h5 {
  margin-top: 0 !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.albums span.album-thumb p, .shortcode-gallery-grid span.album-thumb p {
  font-size: 15px;
  line-height: 1;
  margin-top: 10px !important;
  margin-bottom: 0 !important;
  font-weight: normal;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-backface-visibility: hidden;
}
.albums span.album-thumb:hover img, .shortcode-gallery-grid span.album-thumb:hover img {
  top: 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.albums span.album-thumb:hover h5, .shortcode-gallery-grid span.album-thumb:hover h5 {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.albums span.album-thumb:hover p, .shortcode-gallery-grid span.album-thumb:hover p {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.albums .album-title, .shortcode-gallery-grid .album-title {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 90%;
  height: 10%;
  line-height: 0px;
  vertical-align: middle;
  color: white;
}
.albums span.album-overlay, .shortcode-gallery-grid span.album-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.widget_last_photos a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0px 2px;
  width: 50%;
}
.widget_last_photos a:after, .widget_last_photos a:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget_last_photos a img {
  display: block;
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 500px) {
  .gallery-grid-col-2 .album-item-container,
  .gallery-grid-col-3 .album-item-container,
  .gallery-grid-col-4 .album-item-container,
  .gallery-grid-col-5 .album-item-container,
  .gallery-grid-col-6 .album-item-container {
    float: left;
    width: 50%;
  }

  .gallery-grid-col-3 .album-item-container {
    float: left;
    width: 33.33%;
  }
  .gallery-grid-col-3 .album-item-container:nth-child(2n+1) {
    clear: none;
  }
  .gallery-grid-col-3 .album-item-container:nth-child(3n+1) {
    clear: left;
  }
}
@media screen and (min-width: 900px) {
  .gallery-grid-col-3 .album-item-container,
  .gallery-grid-col-6 .album-item-container {
    float: left;
    width: 33.33%;
  }
  .gallery-grid-col-3 .album-item-container:nth-child(2n+1),
  .gallery-grid-col-6 .album-item-container:nth-child(2n+1) {
    clear: none;
  }
  .gallery-grid-col-3 .album-item-container:nth-child(3n+1),
  .gallery-grid-col-6 .album-item-container:nth-child(3n+1) {
    clear: left;
  }

  .gallery-grid-col-4 .album-item-container {
    width: 25%;
  }
  .gallery-grid-col-4 .album-item-container:nth-child(2n+1) {
    clear: none;
  }
  .gallery-grid-col-4 .album-item-container:nth-child(4n+1) {
    clear: left;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-grid-col-5 .album-item-container {
    width: 20%;
  }
  .gallery-grid-col-5 .album-item-container:nth-child(2n+1) {
    clear: none;
  }
  .gallery-grid-col-5 .album-item-container:nth-child(3n+1) {
    clear: none;
  }
  .gallery-grid-col-5 .album-item-container:nth-child(4n+1) {
    clear: none;
  }
  .gallery-grid-col-5 .album-item-container:nth-child(5n+1) {
    clear: left;
  }

  .gallery-grid-col-6 .album-item-container {
    width: 16.65%;
  }
  .gallery-grid-col-6 .album-item-container:nth-child(2n+1) {
    clear: none;
  }
  .gallery-grid-col-6 .album-item-container:nth-child(3n+1) {
    clear: none;
  }
  .gallery-grid-col-6 .album-item-container:nth-child(4n+1) {
    clear: none;
  }
  .gallery-grid-col-6 .album-item-container:nth-child(5n+1) {
    clear: none;
  }
  .gallery-grid-col-6 .album-item-container:nth-child(6n+1) {
    clear: left;
  }
}
